*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

body {
	background-color: #efd592 !important;
}

.bg-dark {
	background-color: #efd592 !important;
	height: 55px;
	margin: 10px !important;

	.navbar-toggler-icon{
		background-image: url(./iconmonstr-menu-1.svg) !important;
	 }
	
}




.container {
	display: flex;
  margin: 30px auto;
  padding: 20px;
  text-align: left;


.box {
	height: 500px;
	width: 500px;
	background-color: #242d37;
}

.content {
	height: 500px;
	width: 500px;
	margin-left: 50px;


	.title {
		margin-top: 70px;
		margin-bottom: 40px;
		
		h1 {
			font-family: 'Poppins', sans-serif;
			font-weight: 700;
			font-size: 30px;
		}

	}
	.description {
		max-width: 450px;
		margin-bottom: 40px;
		p {
			font-family: 'EB Garamond', serif;
			font-size: 14px;
			line-height: 1.8;
			text-align: left;
		}
	}
	button{
    background-color: Transparent;
		border: none;
		overflow: hidden;
    outline:none;
		cursor:pointer;
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 3px;
	}
}

}